{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Next-Gen QA - Home</title>
    <link rel="stylesheet" href="{% static 'ngq_app/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap">
</head>
<body>
    <!-- Navigation -->
    <nav>
        <div class="logo">
            <a href="/">Next-Gen QA</a>
        </div>
        <ul>
            <li><a href="/about">about</a></li>
            <li><a href="/faq">faq</a></li>
        </ul>
    </nav>

    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-content">
            <h1>Test Smarter, Not Harder</h1>
            <h2>Automate test case creation, so you can focus on testing.</h2>
            <div class="input-container" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" id="generate-btn" value="Generate">
            </div>
        </div>

        <div class="hero-image">
            <img src="temp.gif" alt="Next-Gen QA in action" class="hero-gif">
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Next-Gen QA | All Rights Reserved</p>
    </footer>

    <!-- <script src="{% static 'ngq_app/script.js'%}"></script> -->
</body>
</html>
