{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading - Next-Gen QA</title>
    <link rel="stylesheet" href="{% static 'ngq_app/styles.css' %}">
</head>
<body>
    <!-- Navigation -->
    <nav>
        <div class="logo">
            <a href="/">Next-Gen QA</a>
        </div>
    </nav>

    <!-- Loading Section -->
    <section class="loading">
        <div class="spinner"></div>
        <p>Generating your test cases, please wait...</p>
    </section>

    <!-- <script src="{% static 'ngq_app/script.js'%}"></script> -->
    <script>
        const stop_fetch = new AbortController();

        async function processData() {
            try {
                const response = await fetch('/process_data', {
                    signal: stop_fetch.signal
                    });

                const data = await response.json();
                if (data.status === 'completed') {
                    window.location.href = '/loading_results';
                }
            } catch (error) {
                console.log("Closing page and its functions");
            }
        }
    
        window.onload = function() {
            processData();
        };

        window.onbeforeunload = function() {
            stop_fetch.abort();
        }
    </script>
    
</body>
</html>
